{% load staticfiles widget_tweaks i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TU Login </title>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>

    <!-- CSS Files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/material-kit.css' %}" rel="stylesheet"/>
</head>

<body>
<div class="signup-page">
    <div class="wrapper">
        <div class="header header-filter"
             style="background-image: url('{% static 'img/login-background.JPG' %}'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="card card-signup">
                            <form class="form" method="post" action="">{% csrf_token %}
                                <div class="header header-info text-center">
                                    <h4>{% trans 'Password Change' %}</h4>
                                </div>

                                {% if form.non_field_errors %}
                                    <p class="text-divider text-danger">{{ form.non_field_errors.as_text }}</p>
                                {% endif %}

                                <div class="content">

                                    <div class="col-xs-offset-1">
                                        <div class="form-group label-floating">
                                            <label class="control-label">{{ form.new_password1.label }}</label>
                                            {{ form.new_password1|attr:'class:form-control' }}
                                        </div>
                                    </div>

                                    {% if form.new_password1.errors %}
                                        <p class="text-divider text-danger">{{ form.new_password1.errors.as_text }}</p>
                                    {% endif %}

                                    <div class="col-xs-offset-1">
                                        <div class="form-group label-floating">
                                            <label class="control-label">{{ form.new_password2.label }}</label>
                                            {{ form.new_password2|attr:'class:form-control' }}
                                        </div>
                                    </div>
                                    {% if form.new_password2.errors %}
                                        <p class="text-divider text-danger">{{ form.new_password2.errors.as_text }}</p>
                                    {% endif %}

                                    <div class="col-xs-offset-1">
                                        <div class="form-group label-floating">
                                            <label class="control-label">{{ form.old_password.label }}</label>
                                            {{ form.old_password|attr:'class:form-control' }}
                                        </div>
                                    </div>

                                    {% if form.old_password.errors %}
                                        <p class="text-divider text-danger">{{ form.old_password.errors.as_text }}</p>
                                    {% endif %}

                                </div>
                                <div class="footer text-center">
                                    <a class="btn btn-simple btn-danger btn-lg"
                                       href="{% url 'accounts:login_dispatch' %}">{% trans 'Deny' %}</a>
                                    <input type="submit" class="btn btn-simple btn-success btn-lg"
                                           value="{% trans 'Change' %}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!--   Core JS Files   -->
<script src="{% static 'js/jquery-3.1.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/material.min.js' %}"></script>

<script src="{% static 'js/material-kit.js' %} " type="text/javascript"></script>
