{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <link href='{% static 'css/fullcalendar.min.css' %}' rel='stylesheet'/>
    <link href='{% static 'css/fullcalendar.print.min.css' %}' rel='stylesheet' media='print'/>
    <script src='{% static 'js/moment.min.js' %}'></script>
    <script src='{% static 'js/jquery-3.1.0.min.js' %}'></script>
    <script src='{% static 'js/fullcalendar.min.js' %}'></script>
    <style>
        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>
</head>
<body>

<div id='calendar'></div>

</body>
<script>
    $(document).ready(function () {

        var Monday = 1;
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            firstDay: Monday,
            navLinks: true, // can click day/week names to navigate views
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            timeFormat: 'H(:mm)' // uppercase H for 24-hour clock
        });


    });

</script>
{% block jquery %} {% endblock jquery %}
</html>
