{% extends view.base %}
{% load i18n widget_tweaks %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">{% trans 'Edit Publication' %}</h4>
            </div>
            <div class="card-content">
                <form action="" method="post">{% csrf_token %}
                    <input type="hidden" name="teacher" value="{{ request.user.get_profile.pk }}">
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{ form.room_number.label }} *</label>
                            {{ form.room_number|attr:'class:form-control' }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{ form.name.label }} *</label>
                            {{ form.name|attr:'class:form-control' }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{ form.content.label }} *</label>
                            {{ form.content|attr:'class:form-control' }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info pull-right">{% trans 'Update' %}</button>
                    {{ form.image}}

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}