{% extends '__base_profile.html' %}
{% load static i18n %}

{% block navigation_bar %}
    {% include 'teachers/_navbar.html' %}
{% endblock navigation_bar %}

{% block sidebar %}
    <div class="sidebar" data-color="blue" data-image="{% static "img/sidebar-1.jpg" %}">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

            Tip 2: you can also add an image using data-image tag
        -->
        <div class="logo">
            <a href="http://www.tu-sliven.com/" class="simple-text">
                {% trans "EPF Sliven" %}
            </a>
        </div>

        <div class="sidebar-wrapper">
            <ul class="nav">
                {% include 'teachers/dashboard_elements/_elements.html' %}
                {% block sidebar_list %}{% endblock sidebar_list %}
            </ul>
        </div>
    </div>
{% endblock sidebar %}