{% extends 'departments/base_structure.html' %}
{% load i18n %}

{% block participants %}
    <div class="">
        <div class="profile-tabs">
            <div class="nav-align-center">
                <ul class="nav nav-pills nav-pills-info" role="tablist">
                    <li>
                        <a href="#habilitated" role="tab" data-toggle="tab">
                            <i class="material-icons">group</i>
                            {% trans 'Habilitated' %}
                        </a>
                    </li>
                    <li class="active">
                        <a href="#leader" role="tab" data-toggle="tab">
                            <i class="material-icons">person</i>
                            {% trans 'Leader' %}
                        </a>
                    </li>
                    <li>
                        <a href="#nonhabilitated" role="tab" data-toggle="tab">
                            <i class="material-icons">group</i>
                            {% trans 'Non-habilitated' %}
                        </a>
                    </li>
                </ul>

                <div class="tab-content gallery">
                    <div class="tab-pane" id="habilitated">
                        <div class="row">
                            {% for teacher in habilitated %}
                                {% include 'teachers/generics/_teacher_rotating_card.html' with object=teacher %}
                            {% empty %}
                                <h4>{% trans 'There are no teachers added in that group until now.' %}</h4>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane text-center active" id="leader">
                        <div class="row">
                            {% include 'teachers/generics/_teacher_rotating_card.html' with object=leader %}
                        </div>
                    </div>
                    <div class="tab-pane" id="nonhabilitated">
                        <div class="row">
                            {% for teacher in non_habilitated %}
                                {% include 'teachers/generics/_teacher_rotating_card.html' with object=teacher %}
                            {% empty %}
                                <h4>{% trans 'There are no teachers added in that group until now.' %}</h4>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Tabs -->
    </div>
{% endblock participants %}