{% extends view.base %}
{% load i18n %}

{% block content %}

    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">{% trans 'Edit Department Info' %}</h4>
            </div>
            <div class="card-content">
                <form action="" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ form.content.label }} *</label>
                                <div class="form-group label-floating">
                                    <label class="control-label"></label>
                                    <textarea name="{{ form.content.name }}" class="form-control"
                                              rows="5">{{ form.content.value }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info pull-right">{% trans 'Update' %}</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}