{% extends view.base %}
{% load widget_tweaks i18n %}
{% block content %}

    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">{% trans 'Edit Profile' %} </h4>
                <p class="category">{% trans 'Fields with stars are required.' %}</p>
            </div>
            <div class="card-content">
                <form action="" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group label-floating">
                                <label class="control-label">{{ form.first_name.label }} *</label>
                                {{ form.first_name|attr:'class:form-control' }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group label-floating">
                                <label class="control-label">{{ form.second_name.label }} *</label>
                                {{ form.second_name|attr:'class:form-control' }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group label-floating">
                                <label class="control-label">{{ form.last_name.label }} *</label>
                                {{ form.last_name|attr:'class:form-control' }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">{{ form.email.label }}</label>
                                {{ form.email|attr:'class:form-control' }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">{{ form.phone_number.label }}</label>
                                {{ form.phone_number|attr:'class:form-control' }}

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ form.description.label }} *</label>
                                <div class="form-group label-floating">
                                    <label class="control-label"></label>
                                    <textarea name="{{ form.description.name }}" class="form-control"
                                              rows="5">{{ form.description.value }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'accounts:password_change' %}"
                       class="btn btn-info pull-left">{% trans 'Change Password' %}</a>

                    <button type="submit" class="btn btn-success pull-right">{% trans 'Update' %}</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}