{% extends view.base %}
{% load i18n %}

{% block content %}
    <div class="card card-nav-tabs">
        <div class="card-header" data-background-color="blue">
            <h5>{% trans 'Department laboratories' %}</h5>
        </div>

        <div class="card-content">
            {% if laboratory_list %}
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">

                        <table class="table">
                            <tbody>

                            {% for laboratory in laboratory_list %}
                                <tr>
                                    <td>{{ laboratory.fullname }}</td>
                                    <td class="td-actions text-right">
                                        <a href="{% url 'teachers:laboratory_edit' laboratory.pk %}"
                                           rel="tooltip"
                                           title="{% trans "Edit" %}"
                                           class="btn btn-success btn-simple btn-xs">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <form action="{% url 'teachers:laboratory_delete' laboratory.pk %}"
                                              method="post">{% csrf_token %}
                                            <button type="submit" rel="tooltip" title="{% trans "Remove" %}"
                                                    class="btn btn-danger btn-simple btn-xs">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% include 'teachers/generics/_paginator.html' %}

            {% else %}
                <h3 class="text-center">
                    <small>{% trans 'There no laboratories added until now.' %} <a
                            href="{% url 'teachers:publication_create' %}">{% trans 'Add new now.' %}</a>
                    </small>
                </h3>
            {% endif %}
        </div>
    </div>
{% endblock content %}