{% extends '__base_particles.html' %}
{% load static i18n %}

{% block navigation %}
    {% include 'departments/_teacher_navigation.html' with object=department %}
{% endblock navigation %}

{% block content %}
    <div class="profile-page">
        <div class="wrapper">
            <div class="header">
                <div id="particles-js"></div>
            </div>

            <div class="main main-raised">
                <div class="profile-content">
                    <div class="container">
                        <div class="row">
                            <div class="profile">
                                <div class="avatar">
                                    <img src="{{ object.image.url }}" alt="Circle Image"
                                         class="img-circle img-responsive img-raised">
                                </div>
                                <div class="name">
                                    <h3 class="title">{{ object.get_full_name }}</h3>
                                    <h5>{{ object.get_academic_title_display }} {{ object.degree }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="description text-center">
                            <p>{{ object.description }}</p>
                        </div>


                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="profile-tabs">
                                    <div class="nav-align-center">

                                        <ul class="nav nav-pills nav-pills-info" role="tablist">
                                            <li class="active">
                                                <a href="#studio" role="tab" data-toggle="tab">
                                                    <i class="material-icons">school</i>
                                                    {% trans 'Subjects' %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#work" role="tab" data-toggle="tab">
                                                    <i class="material-icons">book</i>
                                                    {% trans 'Publications' %}
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">

                                            <div class="tab-pane active" id="studio">
                                                {% for subject in subjects %}
                                                    <div class="row">
                                                        <a class="dropdown-header" role="button" data-toggle="collapse"
                                                           href="#collapseExample-{{ subject.id }}"
                                                           aria-expanded="false"
                                                           aria-controls="collapseExample-{{ subject.id }}">
                                                            <h4>{{ subject.title }}</h4>
                                                        </a>

                                                        <div class="collapse" id="collapseExample-{{ subject.id }}">
                                                            <div class="">{{ subject.description }}</div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                {% empty %}
                                                    <h4>{% trans 'There were no added school subjects led by' %} {{ object.get_full_name }}</h4>
                                                {% endfor %}
                                            </div>

                                            <div class="tab-pane text-center" id="work">
                                                {% for publication in publication_list %}
                                                    <div class="row">
                                                        <p><strong>{% trans 'Auhtor\s' %}: </strong>{{ publication.authors }}</p>
                                                        <p><strong>{% trans 'Magazine' %}: </strong>{{ publication.journal }}</p>
                                                        <p><strong>{% trans 'Title' %}: </strong>{{ publication.title }}</p>
                                                        <p>
                                                            <strong>{% trans 'Release Date' %}: </strong>{{ publication.release_date }}
                                                        </p>
                                                    </div>
                                                    <hr>
                                                {% empty %}
                                                    <h4> {% trans 'There are no added publications from theteacher untill now.' %} </h4>
                                                {% endfor %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- End Profile Tabs -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}