{% extends view.base %}
{% load i18n widget_tweaks static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
{% endblock css %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">{% trans 'Edit Publication' %}</h4>
            </div>
            {{ form.errors }}
            <div class="card-content">
                <form action="" method="post">{% csrf_token %}
                    {{ form.teacher }}
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{ form.title.label }} *</label>
                            {{ form.title|attr:'class:form-control' }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{ form.journal.label }} *</label>
                            {{ form.journal|attr:'class:form-control' }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{ form.authors.label }} *</label>
                            {{ form.authors|attr:'class:form-control' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group label">
                                <label class="control-label">{{ form.release_date.label }} *</label>
                                <input name="release_date" class="datepicker form-control" type="text"/>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info pull-right">{% trans 'Create' %}</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    <script src="{% static "js/bootstrap-datepicker.js" %}"></script>

    <script type="text/javascript">
        $('.datepicker').datepicker({
            format:'yyyy-mm-dd',
            weekStart: 1,
            color: 'red'
        });
    </script>
{% endblock javascript %}