{% extends view.base %}
{% load i18n widget_tweaks %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">{% trans 'Edit Publication' %}</h4>
            </div>
            <div class="card-content">
                <form action="" method="post">{% csrf_token %}
                    <input type="hidden" name="teacher" value="{{ request.user.get_profile.pk }}">
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{ form.title.label }} *</label>
                            {{ form.title|attr:'class:form-control' }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{ form.journal.label }} *</label>
                            {{ form.journal|attr:'class:form-control' }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{ form.authors.label }} *</label>
                            {{ form.authors|attr:'class:form-control' }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">{{ form.release_date.label }} *</label>
                            {{ form.release_date|attr:'class:form-control' }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info pull-right">{% trans 'Update' %}</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}