{% extends view.base %}
{% load i18n widget_tweaks %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">{% trans 'Edit Publication' %}</h4>
            </div>
            <div class="card-content">
                <form action="" method="post">{% csrf_token %}
                    <input type="hidden" name="teacher" value="{{ request.user.get_profile.pk }}">

                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{ form.title.label }} *</label>
                            {{ form.title|attr:'class:form-control' }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ form.description.label }} *</label>
                                <div class="form-group label-floating">
                                    <label class="control-label"></label>
                                    <textarea name="{{ form.description.name }}" class="form-control"
                                              rows="5">{{ form.description.value }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info pull-right">{% trans 'Update' %}</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}