{% extends view.base %}
{% load i18n %}

{% block title %} {% trans 'School Subjects' %} {% endblock title %}

{% block content %}
    <div class="card card-nav-tabs">
        <div class="card-header" data-background-color="blue">
            <h4>{% trans 'School Subjects.' %}</h4>
            <p>{% trans 'Here are show all school subjects led by you.' %}</p>
        </div>

        <div class="card-content">
            {% if school_subject_list %}
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">

                        <table class="table">
                            <tbody>
                            {% for school_subject in school_subject_list %}
                                <tr>
                                    <td>{{ school_subject.title }}</td>
                                    <td class="td-actions text-right">
                                        <a href="{% url 'teachers:school_subject_edit' school_subject.pk %}" rel="tooltip"
                                           title="{% trans "Edit" %}"
                                           class="btn btn-success btn-simple btn-xs">
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a>
                    {% endif %}

                    <span class="current">
                        {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
                    {% endif %}
                </span>
                </div>

            {% else %}
                <h3 class="text-center">
                    <small>{% trans 'There no school subjects added until now.' %}</small>
                </h3>
            {% endif %}
        </div>
    </div>
{% endblock content %}