{% load i18n %}
<li {% if view.section == 'dashboard' %}class="active"{% endif %}>
    <a href="{% url 'teachers:dashboard' %}">
        <i class="material-icons">dashboard</i>
        <p>{% trans 'Dashboard' %}</p>
    </a>
</li>
<li {% if view.section == 'profile_edit' %}class="active"{% endif %}>
    <a href="{% url "teachers:edit_profile" %}">
        <i class="material-icons">face</i>
        <p>{% trans "Edit Profile" %}</p>
    </a>
</li>
<li {% if view.section == 'publications' %} class="active" {% endif %}>
    <a href="{% url 'teachers:publication_list' %}">
        <i class="material-icons">content_paste</i>
        <p>{% trans "Publications" %}</p>
    </a>
</li>
<li {% if view.section == 'school_subjects' %}class="active" {% endif %}>
    <a href="{% url 'teachers:school_subject_list' %}">
        <i class="material-icons">school</i>
        <p>{% trans "School Subjects" %}</p>
    </a>
</li>