{% load i18n %}
<li {% if view.section == 'department_info' %} class="active" {% endif %}>
    <a href="{% url 'teachers:edit_department_info' %}">
        <i class="material-icons">dashboard</i>
        <p>{% trans "Departament Info" %}</p>
    </a>
</li>

<li {% if view.section == 'structure' %} class="active" {% endif %}>
    <a href="{% url 'teachers:edit_department_struct' %}">
        <i class="material-icons">supervisor_account</i>
        <p>{% trans "Structure Info" %}</p>
    </a>
</li>

<li {% if view.section == 'laboratory' %} class="active" {% endif %}>
    <a href="{% url 'teachers:laboratory_list' %}">
        <i class="material-icons">flash_on</i>
        <p>{% trans "Laboratory Info" %}</p>
    </a>
</li>

