<div class="row">
    {% include 'departments/_teacher_rotating_card.html' with object=leader %}
</div>

<div class="row">
    {% for p in profiles %}
        {% include 'departments/_teacher_rotating_card.html' with object=p %}
    {% endfor %}
</div>