{% load static i18n %}
<div class="card card-plain card-blog">
    <div class="row">
        <div class="col-md-7 text-center">
            <h3 class="card-title">{{ object.name }}</h3>
            <h5>{% trans 'Cabinet No.' %} {{ object.room_number }}</h5>
            <p class="card-description text-center">
                {{ object.content }}
            </p>
        </div>
        <div class="col-md-5">
            <img class="img img-raised img-responsive" src="{{ object.image.url }}">
        </div>
    </div>
</div>
