{% load i18n %}
<nav class="navbar navbar-info navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {# LOGO #}
            <a class="navbar-brand" href="http://www.tu-sliven.com/">{% trans 'TU-Sofia EPF-Sliven' %}</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-example">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'departments:home' slug=view.kwargs.slug %}" target="">
                        {% trans 'Home' %}{{ kwargs.slug }}
                    </a>
                </li>
                <li>
                    <a href="{% url 'teachers:department_structure' slug=view.kwargs.slug %}" target="">
                        {% trans 'Structure' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'departments:laboratories' slug=view.kwargs.slug %}" target="">
                        {% trans 'Laboratories' %}
                    </a>
                </li>
                {% if False %}
                    <li>
                        <a href="{{ object.get_history_url }}" target="">
                            {% trans 'News' %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ object.get_history_url }}" target="">
                            {% trans 'History' %}
                        </a>
                    </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">account_circle</i>

                        {% trans 'Profile' %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% if request.user.is_authenticated %}
                            <li>
                                <a href="{{ request.user.get_profile.get_dashboard_url }}">{% trans 'Profile settings' %}</a>
                            </li>

                            <li><a href="{% url 'logout' %}">{% trans 'Logout profile' %}</a></li>
                        {% else %}
                            <li><a href="{% url 'accounts:login' %}">{% trans 'Login profile' %}</a></li>
                        {% endif %}

                    </ul>

                </li>
            </ul>
        </div>
    </div>
</nav>