{% extends '__base_particles.html' %}
{% load staticfiles i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/rotating-card.css' %}">
{% endblock css %}

{% block content %}
    <body class="profile-page">


    <div class="wrapper">

        <div class="header">
            <div id="particles-js"></div>
        </div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <h1 class="text-center">{% trans 'Strucutre' %}</h1>
                    </div>
                    <div class="description text-center">
                        <p>{{ department.struct_info }}</p>
                    </div>

                    <div class="row">
                        {% block participants %}
                        {% endblock participants %}
                    </div>

                </div>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="container">
        </div>
    </footer>
{% endblock content %}

{% block javascript %}
    <script>
        $().ready(function () {
            $('[rel="tooltip"]').tooltip();

        });

        function rotateCard(btn) {
            var $card = $(btn).closest('.card-container');
            console.log($card);
            if ($card.hasClass('hover')) {
                $card.removeClass('hover');
            } else {
                $card.addClass('hover');
            }
        }

    </script>
{% endblock javascript %}