{% extends '__base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/laboratory.css' %}">
{% endblock css %}

{% block content %}
    <div class="conteiner fluid">
        <div class="row">
            <div id="row1" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img id="top-img-1" src="{% static 'img/card-cover-default.jpeg' %}" class="row1" alt=""/>
                <img id="top-img-2" src="{% static 'img/card-cover-default.jpeg' %}" class="row1" alt=""/>
                <img id="top-img-3" src="{% static 'img/card-cover-default.jpeg' %}" class="row1" alt=""/>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div id="content" class="jumbotron">
                    <p>
                        <h2 id="headline">Use the Power of
                    <p></p>
                    Artificial Design Intelligence
                    </h2>
                    Wix ADI learns about you and applies this knowledge to
                    create the perfect website for your needs. From billions
                    of combinations including layouts, images, text, contact
                    forms and more, Wix ADI selects the most stunning just
                    for you - creating a one-of-a-kind free website.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header">
        <h1></h1>
    </div>

    <div class="conteiner fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div id="content" class="jumbotron">
                    <p>
                        <h2 id="headline">Use the Power of
                    <p></p>
                    Artificial Design Intelligence
                    </h2>
                    Wix ADI learns about you and applies this knowledge to
                    create the perfect website for your needs. From billions
                    of combinations including layouts, images, text, contact
                    forms and more, Wix ADI selects the most stunning just
                    for you - creating a one-of-a-kind free website.
                    </p>
                </div>
            </div>
            <div id="row2" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img id="top-img-1" src="{% static 'img/card-cover-default.jpeg' %}" class="row2" alt=""/>
                <img id="top-img-2" src="{% static 'img/card-cover-default.jpeg' %}" class="row2" alt=""/>
                <img id="top-img-3" src="{% static 'img/card-cover-default.jpeg' %}" class="row2" alt=""/>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h1></h1>
    </div>
{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/laboratory.js' %}"></script>
{% endblock javascript %}