{% extends '__base_particles.html' %}
{% load static i18n %}

{% block content %}
    <div class="profile-page">
        <div class="wrapper">
            <div class="header">
                <div id="particles-js"></div>
            </div>

            <div class="main main-raised">
                <div class="profile-content">
                    <div class="container">


                        <div class="text-center section">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <h1 class="title">{% trans 'Laboratories' %}</h1>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    {% for laboratory in laboratory_set %}
                                        {% cycle 'departments/_left_post.html' 'departments/_right_post.html' as post silent %}

                                        {% include post with object=laboratory %}

                                        {% if not forloop.last %}
                                            <hr>
                                        {% endif %}
                                    {% empty %}
                                        <h3 class="title text-center">{% trans 'The department have no laboratories that have been added.' %}</h3>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}