{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/material-kit.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    {% block css %}{% endblock css %}
</head>
<body>

{% block navigation %}
    {% include 'departments/_teacher_navigation.html' with object=department %}
{% endblock navigation %}

{% block content %}{% endblock content %}

<footer class="footer">
    <div class="container">
    </div>
</footer>

</body>

<script src="{% static 'js/particles.js' %}"></script>
<!--   Core JS Files   -->
<script src="{% static 'js/jquery-3.1.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/material.min.js' %}"></script>

<script src="{% static 'js/material-kit.js' %} " type="text/javascript"></script>

{% block javascript %}{% endblock javascript %}

{% block particles %}
{% endblock particles %}
</html>

